main > ul {
  display: flex;
  gap: 20px;
}

@media (max-width: 800px) {
  main > ul {
    flex-direction: column;
    align-items: center;
  }
}
body{
  font-size: 1.2rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

 /* login */
h1 img {
  width: 129px;
  height: 20px;
}
.input-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-box input{
  border-radius: 8px;
  border: 1px solid #ddd;
  height: 40px;
  padding: 0 20px;
  color: #ddd;
}
.input-box input::placeholder{
  color: #333333;
}
.input-box button{
  background-color: #000;
  opacity: 12%;
  color: #fff;
  border-radius: 8px;
  height: 40px;
  border: 0;
  cursor: pointer;
}
.find-join{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.find-join a{
  font-size: 1.2rem;
  color: #999999;
}
.join a{
  color: #999999;
}