

html{
  font-size: 10px;
  color: #555;
}
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
#wrap{
  min-width: 320px;
  max-width: 720px;
  margin: 0 auto;
}
body{
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem; line-height: 1.35; color: #000;
}
table{
  border-collapse: collapse;
  width: 100%;
}
ol, ul{
  list-style: none;
}
a{
  color: #000; text-decoration: none;
}
address, em{
  font-style: normal;
}
caption, legend{
  display: none;
}
img{
  vertical-align: top; 
  border: 0;
}
select, input, fieldset, button{
  border: 0;
  outline: none;
  vertical-align: top;
}